@use "../abstract/variables" as variables;

.name-small {
  font-size: 1.2rem;
  font-weight: 600;
}
.card-number {
  font-size: 1rem;
  font-weight: 400;
  color: variables.$color-text-gray;

}

.title {
  font-size: 1.2rem;
  font-weight: 500;
  color: variables.$color-black;
}

.icons {
  color: variables.$color-text-gray;
  font-size: variables.$icon-size;
  padding-top: 5px;
}

.whatsapp-icon {
  font-size: 2rem;
  color: variables.$color-green;
  display: flex;
  align-items: center;
  justify-content: center;
}

textarea::placeholder {
  font-size: 1rem;
  font-weight: 400;
  color: variables.$color-text-gray;
}

.chat-text {
  font-size: 0.9rem;
  font-weight: bold;
  color: variables.$color-black;
}
.small-heading {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
}
